<h1>Chat rooms</h1>

<% @chat_rooms.each do |chat_room| %>

<% if chat_room.user == current_user %>
  <%= link_to User.find(chat_room.recipient_id).name, "/chats/#{chat_room.id}" %>
<% else %>
  <%= link_to chat_room.user.name, "/chats/#{chat_room.id}" %>
<% end %>

<% end %>