<h1>Hello <%= @user.name %></h1>
<p>
  You have successfully set up an apoitment,
  apoitment time and date: <%= @user.bookings.last.start_time %>.<br>
</p>

<p>Thanks for making apoitment and have a great day!</p>