<h1>Hello <%= @deleted_booking.user.name %></h1>
<p>
  You have successfully Canceled Your apoitment for <%= @deleted_booking.start_time %>,
</p>

<p>Thanks for using mikveh.com, have a great day!</p>