<h1>Your upcomeing apoitment</h1>

<table class= "table table-hover">
  <tr>
    <th>Place</th>
    <th>Time</th>
  </tr>

  <rt>
  <% if current_user.bookings.any? %>
    <td><%= @booking.time %></td>
    <td><%= @booking.mikveh.name %></td>
  </rt>
  <% end %>
</table>