<h1>Dashboard</h1>

<table class="table table-hover">
  <tr>
    <td>balanit</td>
    <td>Name</td>
    <td>location</td>
  </tr>

  <tr>
    <th><%= current_user.name %></th>
    <th><%= @mikveh.name  %></th>
    <th><%= @mikveh.location %></th>
  </tr>
</table>