
<head>
    
    <!-- Your Basic Site Informations -->
    <title>Upsite Responsive Business Corporate Landing Page</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Upsite is a premium business and corporate landing page that built-in professional responsive template, clean-elegant style, minimalize design and have a slew of features." />
    <meta name="keywords" content="Landing Page, One Page Template, Premium Design, Responsive Template, Business Corporate, Minimalize Design, Clean-Elegant Style, PSD, HTML5, CSS3, jQuery" />
    <meta name="author" content="Affapress" />
    
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">x`
    
</head>
<body>
    
    <!-- #header -->
    <header id="header" data-parallax="scroll" data-speed="0.2" data-natural-width="1920" data-natural-height="1080" data-image-src="images/content/bg/1.jpg">
        
        <!-- #navigation -->
        <nav id="navigation" class="navbar scrollspy">
            
            <!-- .container -->
            <div class="container">
                
                <div class="navbar-brand">
                    <a href="index.html"> <%= image_tag 'images/logo.png' %></a> <!-- site logo -->
                </div>
                
                <ul class="nav navbar-nav">
                    <li><a href="#header" class="smooth-scroll">Home</a></li>
                    <li><a href="#about" class="smooth-scroll">About</a></li>
                    <li><a href="#features" class="smooth-scroll">Features</a></li>
                    <li><a href="#portfolios" class="smooth-scroll">Portfolios</a></li>
                    <li><a href="#whyus" class="smooth-scroll">Why Us?</a></li>
                    <li><a href="page.html">Page</a></li>
                    <li class="menu-btn"><a href="page_contact.html">Contact</a></li>
                </ul>
                
            </div>
            <!-- .container end -->
            
        </nav>
        <!-- #navigation end -->
        
        <!-- .header-content -->
        <div class="header-content header-overlay40">
            
            <!-- .container -->
            <div class="container">
                
                <div class="header-content-title">
                    <h1>Introdocing Upsite<br>Business Landing Page</h1>
                    <p>We make creative landing page with love and<br>professional branding. Only for you!</p>
                </div>
                
                <div class="btn-section">
                    <a href="https://www.youtube.com/embed/4ZawV1mXlS8?autoplay=1" class="btn-custom btn-icon fancybox-media"><i class="fa fa-play"></i> Play Video</a>
                </div>
                
            </div>
            <!-- .container end -->
            
            <!-- .header-content-overlay -->
            <div class="header-content-overlay">
                
                <!-- .container -->
                <div class="container">
                    
                    <!-- .row -->
                    <div class="row">
                        
                        <div class="col-sm-3 col-md-2 col-md-offset-2"> <!-- 1 -->
                            <div class="header-content-feature">
                                <i class="fa fa-ge"></i>
                                <p>Easy Customization</p>
                            </div>
                        </div>
                        
                        <div class="col-sm-3 col-md-2"> <!-- 2 -->
                            <div class="header-content-feature">
                                <i class="fa fa-commenting-o"></i>
                                <p>Full Support</p>
                            </div>
                        </div>
                        
                        <div class="col-sm-3 col-md-2"> <!-- 3 -->
                            <div class="header-content-feature">
                                <i class="fa fa-money"></i>
                                <p>Buy 1 Get 1 Free</p>
                            </div>
                        </div>
                        
                        <div class="col-sm-3 col-md-2"> <!-- 4 -->
                            <div class="header-content-feature">
                                <i class="fa fa-leanpub"></i>
                                <p>Creative Design</p>
                            </div>
                        </div>
                        
                    </div>
                    <!-- .row end -->
                    
                </div>
                <!-- .container end -->
                
            </div>
            <!-- .header-content-overlay end -->
            
        </div>
        <!-- .header-content end -->
        
    </header>
    <!-- #header end -->
    
    <!-- #about -->
    <div id="about" class="wrap-container8060">
        
        <!-- .container -->
        <div class="container">
            
            <div class="post-heading-center">
                <h2>About Us</h2>
                <p>Aenean bibendum erat sed dolor vehicula, nec dignissim ligula tincidunt. Nunc ullamcorper in purus pulvinar consequat. Aliquam eu porta enim.</p>
            </div>
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-md-6 col-lg-5">
                    <figure class="padding-top30-md margin-bottom20">
                        <img src="images/content/landing/1.jpg" alt="Image" class="img-style-left" />
                    </figure>
                </div>
                
                <div class="col-md-6 col-lg-offset-1">
                    <div class="margin-bottom20">
                        <p><a href="http://affapress.com" target="_blank">Affapress.com</a> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id venenatis lacus lacinia sit amet yaborum.</p>
                        <p><strong>Sed ut perspiciatis</strong> unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #about end -->
    
    <!-- separator -->
    <div class="container">
        <div class="sep-border"></div>
    </div>
    
    <!-- #features -->
    <div id="features" class="wrap-container40">
        
        <!-- .container -->
        <div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-4"> <!-- 1 -->
                    <div class="affa-feature-icon">
                        <img src="images/content/icon/customer-first.png" alt="Icon" />
                        <h4>Customer first</h4>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit dicta sunt explicabo aut fugit.</p>
                    </div>
                </div>
                
                <div class="col-sm-4"> <!-- 2 -->
                    <div class="affa-feature-icon">
                        <img src="images/content/icon/experience.png" alt="Icon" />
                        <h4>4 years experience</h4>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit dicta sunt explicabo aut fugit.</p>
                    </div>
                </div>
                
                <div class="col-sm-4"> <!-- 3 -->
                    <div class="affa-feature-icon">
                        <img src="images/content/icon/cup.png" alt="Icon" />
                        <h4>10 people in team</h4>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit dicta sunt explicabo aut fugit.</p>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #features end -->
    
    <!-- #features2 -->
    <div id="features2" class="padding-bottom60">
        
        <!-- .container -->
        <div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-md-6">
                    <div class="post-heading-left no-margin-bottom">
                        <h2>Best and Amazing product<br><span>Is our Journey</span></h2>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt quia voluptas.</p>
                    </div>
                    <div class="list-row">
                        <div class="list-col">
                            <ul class="list-icon">
                                <li><i class="fa fa-angle-right"></i> Meeting time</li>
                                <li><i class="fa fa-angle-right"></i> Invite people</li>
                                <li><i class="fa fa-angle-right"></i> Share location</li>
                                <li><i class="fa fa-angle-right"></i> Reminder</li>
                            </ul>
                        </div>
                        
                        <div class="list-col">
                            <ul class="list-icon">
                                <li><i class="fa fa-angle-right"></i> Notification by email</li>
                                <li><i class="fa fa-angle-right"></i> List of meeting materials</li>
                                <li><i class="fa fa-angle-right"></i> Made very important</li>
                                <li><i class="fa fa-angle-right"></i> Go out and take holiday</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-5 col-lg-offset-1">
                    <figure class="margin-bottom20">
                        <img src="images/content/landing/2.jpg" alt="Image" class="img-style-right" />
                    </figure>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #features2 end -->
    
    <!-- #quote -->
    <div id="quote" class="bg-parallax" data-parallax="scroll" data-speed="0.2" data-natural-width="1920" data-natural-height="1080" data-image-src="images/content/bg/2.jpg">
        
        <!-- .bg-overlay -->
        <div class="bg-overlay70 wrap-container120">
            
            <!-- .container -->
            <div class="container">
                
                <div class="affa-quote">
                    <h4>Work smart, sincere, honest and always pray that is the key of our Great Products</h4>
                    <p>- our CEO<br>Mugiwara Kiwolen</p>
                </div>
                
            </div>
            <!-- .container end -->
            
        </div>
        <!-- .bg-overlay end -->
        
    </div>
    <!-- #quote end -->
    
    <!-- #features3 -->
    <div id="features3" class="wrap-container80">
        
        <!-- .container -->
        <div class="container">
            
            <div class="post-heading-center">
                <h2>Work with Us!</h2>
            </div>
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-4"> <!-- 1 -->
                    <div class="affa-feature-text">
                        <span class="feature-text-number">01</span>
                        <h4>Main Requirement and Problem to Solution</h4>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architectobeatae vitae dicta sunt uam explicabo. Nemo enim ipsam voluptatem Eaque ipsa quae ab illo inventore veritatis et quasi aliquam nontus architectobeatae vitae dicta sunt nis explicabo. Nemo enim ipsam voluptatem.</p>
                    </div>
                </div>
                
                <div class="col-sm-4"> <!-- 2 -->
                    <div class="affa-feature-text">
                        <span class="feature-text-number">02</span>
                        <h4>Negotiation and Pricing</h4>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architectobeatae vitae dicta sunt uam explicabo. Nemo enim ipsam voluptatem Eaque ipsa quae ab illo inventore veritatis et quasi aliquam nontus architectobeatae vitae dicta sunt nis explicabo. Nemo enim ipsam voluptatem.</p>
                    </div>
                </div>
                
                <div class="col-sm-4"> <!-- 3 -->
                    <div class="affa-feature-text">
                        <span class="feature-text-number">03</span>
                        <h4>Processing Solutions and Give the Best Result</h4>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architectobeatae vitae dicta sunt uam explicabo. Nemo enim ipsam voluptatem Eaque ipsa quae ab illo inventore veritatis et quasi aliquam nontus architectobeatae vitae dicta sunt nis explicabo. Nemo enim ipsam voluptatem.</p>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
            <div class="text-center">
                <a href="page_contact.html" class="btn-custom">Contact Us</a>
            </div>
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #features3 end -->
    
    <!-- #features4 -->
    <div id="features4" class="padding-bottom40">
        
        <!-- .container -->
        <div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-4"> <!-- 1 -->
                    <div class="post-heading-left">
                        <h2>What <span>We Do?</span></h2>
                        <p>Eaque ipsa quae ab illo num inventore veritatis quasi vitae dicta sunt explicabo.</p>
                    </div>
                </div>
                
                <div class="col-sm-4"> <!-- 2 -->
                    <div class="affa-feature-icon-left">
                        <img src="images/content/icon/wordpress.png" alt="Icon" />
                        <h4>Wordpress theme</h4>
                        <p>Nemo enim ipsam voluptatem Eaque ipsa quae ab illo inventore veritatis et quasi architectobeatae vitae dicta sunt vitae dicta sunt nis explicabo.</p>
                    </div>
                </div>
                
                <div class="col-sm-4"> <!-- 3 -->
                    <div class="affa-feature-icon-left">
                        <img src="images/content/icon/html.png" alt="Icon" />
                        <h4>HTML Template</h4>
                        <p>Nemo enim ipsam voluptatem Eaque ipsa quae ab illo inventore veritatis et quasi architectobeatae vitae dicta sunt vitae dicta sunt nis explicabo.</p>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-4"> <!-- 4 -->
                    <div class="affa-feature-icon-left">
                        <img src="images/content/icon/ux-design.png" alt="Icon" />
                        <h4>UI/UX Design</h4>
                        <p>Nemo enim ipsam voluptatem Eaque ipsa quae ab illo inventore veritatis et quasi architectobeatae vitae dicta sunt vitae dicta sunt nis explicabo.</p>
                    </div>
                </div>
                
                <div class="col-sm-4"> <!-- 5 -->
                    <div class="affa-feature-icon-left">
                        <img src="images/content/icon/branding.png" alt="Icon" />
                        <h4>Branding</h4>
                        <p>Nemo enim ipsam voluptatem Eaque ipsa quae ab illo inventore veritatis et quasi architectobeatae vitae dicta sunt vitae dicta sunt nis explicabo.</p>
                    </div>
                </div>
                
                <div class="col-sm-4"> <!-- 6 -->
                    <div class="affa-feature-icon-left">
                        <img src="images/content/icon/seo.png" alt="Icon" />
                        <h4>SEO friendly</h4>
                        <p>Nemo enim ipsam voluptatem Eaque ipsa quae ab illo inventore veritatis et quasi architectobeatae vitae dicta sunt vitae dicta sunt nis explicabo.</p>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #features4 end -->
    
    <!-- #skills -->
    <div id="skills" class="padding-bottom40">
        
        <!-- .container -->
        <div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-6 col-md-3"> <!-- 1 -->
                    <div class="affa-skill">
                        <h4>HTML</h4>
                        <div class="skill-number"><span>90</span>%</div>
                        <div class="skill-bar">
                            <span class="skill-bar-process in" style="width:90%;">90%</span>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6 col-md-3"> <!-- 2 -->
                    <div class="affa-skill">
                        <h4>Photoshop</h4>
                        <div class="skill-number"><span>80</span>%</div>
                        <div class="skill-bar">
                            <span class="skill-bar-process in" style="width:80%;">80%</span>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6 col-md-3"> <!-- 3 -->
                    <div class="affa-skill">
                        <h4>Wordpress</h4>
                        <div class="skill-number"><span>85</span>%</div>
                        <div class="skill-bar">
                            <span class="skill-bar-process in" style="width:85%;">85%</span>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6 col-md-3"> <!-- 4 -->
                    <div class="affa-skill">
                        <h4>Business</h4>
                        <div class="skill-number"><span>80</span>%</div>
                        <div class="skill-bar">
                            <span class="skill-bar-process in" style="width:80%;">80%</span>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #skills end -->
    
    <!-- #video -->
    <div id="video" class="bg-parallax" data-parallax="scroll" data-speed="0.2" data-natural-width="1920" data-natural-height="1080" data-image-src="images/content/bg/3.jpg">
        
        <!-- .bg-overlay -->
        <div class="bg-overlay70 wrap-container120">
            
            <!-- .container -->
            <div class="container text-center">
                
                <h2 class="margin-bottom40"><strong>Video "What We Do" ?</strong></h2>
                <a href="https://www.youtube.com/embed/4ZawV1mXlS8?autoplay=1" class="btn-play fancybox-media">Play</a>
                
            </div>
            <!-- .container end -->
            
        </div>
        <!-- .bg-overlay end -->
        
    </div>
    <!-- #video end -->
    
    <!-- #portfolios -->
    <div id="portfolios" class="padding-top80">
        
        <!-- .container -->
        <div class="container">
            
            <div class="post-heading-center">
                <h2>Best Perfect Product</h2>
            </div>
            
            <nav class="isotope-menu">
                <a href="#" class="active" data-filter="*">All Works</a>
                <a href="#" data-filter=".creative">Creative</a>
                <a href="#" data-filter=".entertainment">Entertainment</a>
                <a href="#" data-filter=".mobile">Mobile</a>
            </nav>
            
        </div>
        <!-- .container end -->
        
        <!-- .isotope-row -->
        <div class="isotope-row">
            
            <div class="item entertainment"> <!-- 1 -->
                <a href="images/content/portfolios/full/1.jpg" class="fancybox" data-fancybox-group="images_gallery" title="Portfolio Item 1">
                    <figure class="img-overlay">
                        <img src="images/content/portfolios/thumb/1.jpg" alt="Portfolio Item 1" />
                        <div class="overlay-masked-wrap">
                            <div class="overlay-masked">
                                <h4>Portfolio Item 1</h4>
                                <p>Entertainment</p>
                            </div>
                        </div>
                    </figure>
                </a>
            </div>
            
            <div class="item creative mobile"> <!-- 2 -->
                <a href="images/content/portfolios/full/2.jpg" class="fancybox" data-fancybox-group="images_gallery" title="Portfolio Item 2">
                    <figure class="img-overlay">
                        <img src="images/content/portfolios/thumb/2.jpg" alt="Portfolio Item 2" />
                        <div class="overlay-masked-wrap">
                            <div class="overlay-masked">
                                <h4>Portfolio Item 2</h4>
                                <p>Creative, Mobile</p>
                            </div>
                        </div>
                    </figure>
                </a>
            </div>
            
            <div class="item entertainment"> <!-- 3 -->
                <a href="images/content/portfolios/full/3.jpg" class="fancybox" data-fancybox-group="images_gallery" title="Portfolio Item 3">
                    <figure class="img-overlay">
                        <img src="images/content/portfolios/thumb/3.jpg" alt="Portfolio Item 3" />
                        <div class="overlay-masked-wrap">
                            <div class="overlay-masked">
                                <h4>Portfolio Item 3</h4>
                                <p>Entertainment</p>
                            </div>
                        </div>
                    </figure>
                </a>
            </div>
            
            <div class="item entertainment mobile"> <!-- 4 -->
                <a href="images/content/portfolios/full/4.jpg" class="fancybox" data-fancybox-group="images_gallery" title="Portfolio Item 4">
                    <figure class="img-overlay">
                        <img src="images/content/portfolios/thumb/4.jpg" alt="Portfolio Item 4" />
                        <div class="overlay-masked-wrap">
                            <div class="overlay-masked">
                                <h4>Portfolio Item 4</h4>
                                <p>Entertainment, Mobile</p>
                            </div>
                        </div>
                    </figure>
                </a>
            </div>
            
            <div class="item creative mobile"> <!-- 5 -->
                <a href="images/content/portfolios/full/5.jpg" class="fancybox" data-fancybox-group="images_gallery" title="Portfolio Item 5">
                    <figure class="img-overlay">
                        <img src="images/content/portfolios/thumb/5.jpg" alt="Portfolio Item 5" />
                        <div class="overlay-masked-wrap">
                            <div class="overlay-masked">
                                <h4>Portfolio Item 5</h4>
                                <p>Creative, Mobile</p>
                            </div>
                        </div>
                    </figure>
                </a>
            </div>
            
            <div class="item creative entertainment"> <!-- 6 -->
                <a href="images/content/portfolios/full/6.jpg" class="fancybox" data-fancybox-group="images_gallery" title="Portfolio Item 6">
                    <figure class="img-overlay">
                        <img src="images/content/portfolios/thumb/6.jpg" alt="Portfolio Item 6" />
                        <div class="overlay-masked-wrap">
                            <div class="overlay-masked">
                                <h4>Portfolio Item 6</h4>
                                <p>Creative, Entertainment</p>
                            </div>
                        </div>
                    </figure>
                </a>
            </div>href="images/content/portfolios/full/7.jpg" class="fancybox" data-fancybox-group="images_gallery" title="Portfolio Item 7">
                    <figure class="img-overlay">
                        <img src="images/content/portfolios/thumb/7.jpg" alt="Portfolio Item 7" />
                        <div class="overlay-masked-wrap">
                            <div class="overlay-masked">
                                <h4>Portfolio Item 7</h4>
                                <p>Creative</p>
                            </div>
                        </div>
                    </figure>
                </a>
            </div>
            
            <div class="item mobile"> <!-- 8 -->
                <a href="images/content/portfolios/full/8.jpg" class="fancybox" data-fancybox-group="images_gallery" title="Portfolio Item 8">
                    <figure class="img-overlay">
                        <img src="images/content/portfolios/thumb/8.jpg" alt="Portfolio Item 8" />
                        <div class="overlay-masked-wrap">
                            <div class="overlay-masked">
                                <h4>Portfolio Item 8</h4>
                                <p>Mobile</p>
                            </div>
                        </div>
                    </figure>
                </a>
            </div>
            
        </div>
        <!-- .isotope-row end -->
        
    </div>
    <!-- #portfolios end -->
    
    <!-- .wrap-container -->
    <div class="wrap-container40 bg-dark">
        
        <!-- .container -->
        <div class="container">
            
            <div class="call-action">
              <h4>What about our products? <span>Cool and classy right?</span></h4>
                <p>Our work on the project together with the hard work and the quality of worship.</p>
                <div class="btn-section">
                  <a href="#" class="btn-custom">See All Products</a>
                </div>
            </div>
            
        </div>
        <!-- .container -->
        
    </div>
    <!-- .wrap-container end -->
    
    <!-- #counter -->
    <div id="counter" class="wrap-container8040">
        
        <!-- .container -->
        <div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-3"> <!-- 1 -->
                    <div class="affa-counter">
                        <i class="fa fa-heart"></i>
                        <h4><span>192</span>k</h4>
                        <p>Clients Happy</p>
                    </div>
                </div>
                
                <div class="col-sm-3"> <!-- 2 -->
                    <div class="affa-counter">
                        <i class="fa fa-calendar-check-o"></i>
                        <h4><span>325</span></h4>
                        <p>Projects Done</p>
                    </div>
                </div>
                
                <div class="col-sm-3"> <!-- 3 -->
                    <div class="affa-counter">
                        <i class="fa fa-coffee"></i>
                        <h4><span>128</span>k</h4>
                        <p>Cups of Coffe</p>
                    </div>
                </div>
                
                <div class="col-sm-3"> <!-- 4 -->
                    <div class="affa-counter">
                        <i class="fa fa-trophy"></i>
                        <h4><span>44</span></h4>
                        <p>Best Awards</p>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #counter end -->
    
    <!-- #teams -->
    <div id="teams" class="bg-grey wrap-container80">
        
        <!-- .container -->
        <div class="container">
            
            <div class="post-heading-center">
              <h2>Meet Our's Best Teams</h2>
            </div>
            
        </div>
        <!-- .container end -->
        
        <!-- .teams-row -->
        <div class="carousel-slider teams-row">
            
            <div class="affa-team-col"> <!-- 1 -->
                <div class="affa-team-profile">
                    <img src="images/content/avatar/1.jpg" alt="Avatar" />
                    <div class="team-profile-name">
                      <h4>Mirza Ramadhany</h4>
                        <p>Head UI/UX Designer</p>
          </div>
                    <div class="team-profile-socials">
                      <span><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></span>
                        <span><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></span>
                        <span><a href="#" title="Instagram"><i class="fa fa-instagram"></i></a></span>
                        <span><a href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></span>
                        <span><a href="#" title="Email"><i class="fa fa-envelope"></i></a></span>
                    </div>
                </div>
            </div>
            
            <div class="affa-team-col"> <!-- 2 -->
                <div class="affa-team-profile">
                    <img src="images/content/avatar/2.jpg" alt="Avatar" />
                    <div class="team-profile-name">
                      <h4>Mugiwara Kiwolen</h4>
                        <p>CEO & Founder</p>
          </div>
                    <div class="team-profile-socials">
                      <span><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></span>
                        <span><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></span>
                        <span><a href="#" title="Instagram"><i class="fa fa-instagram"></i></a></span>
                        <span><a href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></span>
                        <span><a href="#" title="Email"><i class="fa fa-envelope"></i></a></span>
                    </div>
                </div>
            </div>
            
            <div class="affa-team-col"> <!-- 3 -->
                <div class="affa-team-profile">
                    <img src="images/content/avatar/3.jpg" alt="Avatar" />
                    <div class="team-profile-name">
                      <h4>Bebbh Duduls</h4>
                        <p>Community Manager</p>
          </div>
                    <div class="team-profile-socials">
                      <span><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></span>
                        <span><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></span>
                        <span><a href="#" title="Instagram"><i class="fa fa-instagram"></i></a></span>
                        <span><a href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></span>
                        <span><a href="#" title="Email"><i class="fa fa-envelope"></i></a></span>
                    </div>
                </div>
            </div>
            
            <div class="affa-team-col"> <!-- 4 -->
                <div class="affa-team-profile">
                    <img src="images/content/avatar/4.jpg" alt="Avatar" />
                    <div class="team-profile-name">
                      <h4>Amah Holland</h4>
                        <p>Lead Programmer</p>
          </div>
                    <div class="team-profile-socials">
                      <span><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></span>
                        <span><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></span>
                        <span><a href="#" title="Instagram"><i class="fa fa-instagram"></i></a></span>
                        <span><a href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></span>
                        <span><a href="#" title="Email"><i class="fa fa-envelope"></i></a></span>
                    </div>
                </div>
            </div>
            
            <div class="affa-team-col"> <!-- 5 -->
                <div class="affa-team-profile">
                    <img src="images/content/avatar/5.jpg" alt="Avatar" />
                    <div class="team-profile-name">
                      <h4>Rendy Jagerjack</h4>
                        <p>Internet Marketer</p>
          </div>
                    <div class="team-profile-socials">
                      <span><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></span>
                        <span><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></span>
                        <span><a href="#" title="Instagram"><i class="fa fa-instagram"></i></a></span>
                        <span><a href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></span>
                        <span><a href="#" title="Email"><i class="fa fa-envelope"></i></a></span>
                    </div>
                </div>
            </div>
            
            <div class="affa-team-col"> <!-- 6 -->
                <div class="affa-team-profile">
                    <img src="images/content/avatar/6.jpg" alt="Avatar" />
                    <div class="team-profile-name">
                      <h4>Ima Lippho</h4>
                        <p>Internet Marketer</p>
          </div>
                    <div class="team-profile-socials">
                      <span><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></span>
                        <span><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></span>
                        <span><a href="#" title="Instagram"><i class="fa fa-instagram"></i></a></span>
                        <span><a href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></span>
                        <span><a href="#" title="Email"><i class="fa fa-envelope"></i></a></span>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- .teams-row end -->
        
    </div>
    <!-- #teams end -->
    
    <!-- #whyus -->
    <div id="whyus" class="wrap-container8040">
      
        <!-- .container -->
        <div class="container">
          
            <div class="post-heading-center">
              <h2>Why Choose Us?</h2>
            </div>
            
            <!-- .row -->
            <div class="row padding-bottom40">
                
                <div class="col-md-6 col-lg-5">
                  <figure class="no-padding-top-xs no-padding-top-sm padding-top80-md padding-top60 margin-bottom40">
                      <img src="images/content/landing/3.jpg" alt="Image" class="img-style-left" />
                    </figure>
                </div>
                
                <div class="col-md-6 col-lg-offset-1">
                  <div class="affa-feature-icon-left"> <!-- 1 -->
                      <img src="images/content/icon/creative.png" alt="Icon" />
                        <h4>Cooperate with good quality</h4>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. <a href="#">Learn More....</a></p>
                    </div>
                    
                    <div class="affa-feature-icon-left"> <!-- 2 -->
                      <img src="images/content/icon/awesome.png" alt="Icon" />
                        <h4>Awesome Product 2016</h4>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. <a href="#">Learn More....</a></p>
                    </div>
                    
                    <div class="affa-feature-icon-left"> <!-- 3 -->
                      <img src="images/content/icon/usability.png" alt="Icon" />
                        <h4>Our excellent!</h4>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. <a href="#">Learn More....</a></p>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
            <!-- .row -->
            <div class="row">
              
                <div class="col-sm-4"> <!-- 1 -->
                  <div class="affa-feature-icon-center">
                      <i class="fa fa-support"></i>
                        <h4>12/5 Support</h4>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasitur architecto beatae vitae dicta sunt nam explicabo sit aspernatur aut fugit.</p>
                        <a href="#" class="btn-custom">Read More</a>
                    </div>
                </div>
                
                <div class="col-sm-4"> <!-- 2 -->
                  <div class="affa-feature-icon-center">
                      <i class="fa fa-book"></i>
                        <h4>Easy Guidebook</h4>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasitur architecto beatae vitae dicta sunt nam explicabo sit aspernatur aut fugit.</p>
                        <a href="#" class="btn-custom">Read More</a>
                    </div>
                </div>
                
                <div class="col-sm-4"> <!-- 3 -->
                  <div class="affa-feature-icon-center">
                      <i class="fa fa-ioxhost"></i>
                        <h4>Quick Response</h4>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasitur architecto beatae vitae dicta sunt nam explicabo sit aspernatur aut fugit.</p>
                        <a href="#" class="btn-custom">Read More</a>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #whyus end -->
    
    <!-- separator -->
    <div class="container">
      <div class="sep-border"></div>
    </div>
    
    <!-- #faq -->
    <div id="faq" class="wrap-container8040">
      
        <!-- .container -->
        <div class="container">
          
            <div class="post-heading-center">
              <h2>Frequently Asked Questions</h2>
                <p>The most frequent questions and very boring to be answered you can read here and stop asking back!</p>
            </div>
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-6">
                  <div class="affa-faq"> <!-- 1 -->
                      <h4>Question Number <span>one?</span></h4>
                        <p>Morbi consectetur velit leo, eu ultrices elit scelerisque laoreet. Curabitur ornare amet mauris nec consequat. Morbi eleifend laoreet lectus, sed aliquam enim sit condimentum. Etiam velit malesuada, posuere lorem sed, mollis mauris.</p>
                    </div>
                    
                    <div class="affa-faq"> <!-- 2 -->
                      <h4>Question Number <span>three?</span></h4>
                        <p>Morbi consectetur velit leo, eu ultrices elit scelerisque laoreet. Curabitur ornare amet mauris nec consequat. Morbi eleifend laoreet lectus, sed aliquam enim sit condimentum. Etiam velit malesuada, posuere lorem sed, mollis mauris.</p>
                    </div>
                    
                    <div class="affa-faq"> <!-- 3 -->
                      <h4>Question Number <span>five?</span></h4>
                        <p>Morbi consectetur velit leo, eu ultrices elit scelerisque laoreet. Curabitur ornare amet mauris nec consequat. Morbi eleifend laoreet lectus, sed aliquam enim sit condimentum. Etiam velit malesuada, posuere lorem sed, mollis mauris.</p>
                    </div>
                </div>
                
                <div class="col-sm-6">
                  <div class="affa-faq"> <!-- 4 -->
                      <h4>Question Number <span>two?</span></h4>
                        <p>Morbi consectetur velit leo, eu ultrices elit scelerisque laoreet. Curabitur ornare amet mauris nec consequat. Morbi eleifend laoreet lectus, sed aliquam enim sit condimentum. Etiam velit malesuada, posuere lorem sed, mollis mauris.</p>
                    </div>
                    
                    <div class="affa-faq"> <!-- 5 -->
                      <h4>Question Number <span>four?</span></h4>
                        <p>Morbi consectetur velit leo, eu ultrices elit scelerisque laoreet. Curabitur ornare amet mauris nec consequat. Morbi eleifend laoreet lectus, sed aliquam enim sit condimentum. Etiam velit malesuada, posuere lorem sed, mollis mauris.</p>
                    </div>
                    
                    <div class="affa-faq"> <!-- 6 -->
                      <h4>Question Number <span>six?</span></h4>
                        <p>Morbi consectetur velit leo, eu ultrices elit scelerisque laoreet. Curabitur ornare amet mauris nec consequat. Morbi eleifend laoreet lectus, sed aliquam enim sit condimentum. Etiam velit malesuada, posuere lorem sed, mollis mauris.</p>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
            <p class="margin-bottom40"><i>If there are questions that you are looking for please contact us at <a href="#">support@company.com</a></i></p>
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #faq end -->
    
    <!-- #testimonials -->
    <div id="testimonials" class="bg-parallax" data-parallax="scroll" data-speed="0.2" data-natural-width="1920" data-natural-height="1080" data-image-src="images/content/bg/4.jpg">
        
        <!-- .bg-overlay -->
        <div class="bg-overlay40 wrap-container120">
            
            <!-- .testimonials-container -->
            <div class="testimonials-container">
                <div class="testimonials-wrap">
                    
                    <div class="affa-testimonials-avatars">
                      <div class="avatar-item avatar-item-1 active"> <!-- 1 -->
                          <div class="avatar-item-overlay"></div>
                            <img src="images/content/avatar/1.jpg" alt="Avatar" />
                        </div>
                        
                        <div class="avatar-item avatar-item-2"> <!-- 2 -->
                          <div class="avatar-item-overlay"></div>
                            <img src="images/content/avatar/2.jpg" alt="Avatar" />
                        </div>
                        
                        <div class="avatar-item avatar-item-3"> <!-- 3 -->
                          <div class="avatar-item-overlay"></div>
                            <img src="images/content/avatar/3.jpg" alt="Avatar" />
                        </div>
                    </div>
                    
                    <div class="carousel-slider affa-testimonials-carousel">
                      <div class="testimonial-item"> <!-- 1 -->
                            <div class="testimonial-text">
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ut enim"</p>
                            </div>
                            <div class="testimonial-author">
                                <h4>Mugiwara Kiwolen</h4>
                                <p>CEO & Founder <span>(Affapress)</span></p>
                            </div>
                        </div>
                        
                        <div class="testimonial-item"> <!-- 2 -->
                            <div class="testimonial-text">
                                <p>"Morbi feugiat mi metus, id tempus dolor bibendum ac. Morbi at viverra lacus. Quisque dolor eros, mollis nec consequat a nunc"</p>
                            </div>
                            <div class="testimonial-author">
                                <h4>Rendy Jagerjack</h4>
                                <p>Lead Developer <span>(Dotstheme)</span></p>
                            </div>
                        </div>
                        
                        <div class="testimonial-item"> <!-- 3 -->
                            <div class="testimonial-text">
                                <p>"Curabitur egestas at mauris in tristique integer consequat congue tellus, sit amet maximus lorem mattis cras non nunc mauris"</p>
                            </div>
                            <div class="testimonial-author">
                                <h4>Bebbh Duduls</h4>
                                <p>App Designer <span>(Dolandolen)</span></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- .testimonials-container end -->
            
        </div>
        <!-- .bg-overlay end -->
        
    </div>
    <!-- #testimonials end -->
    
    <!-- #clients -->
    <div id="clients" class="wrap-container80">
        
        <!-- .container -->
        <div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-md-10 col-md-offset-1">
                  <p class="text-info margin-bottom30">A few partners we've had the pleasure to work with:</p>
                    <div class="clients-row">
                      <div class="affa-client-logo"> <!-- 1 -->
                          <div class="logo-overlay"></div>
                            <img src="images/content/client/1.png" alt="Logo" />
                        </div>
                        
                        <div class="affa-client-logo no-border-right-xs"> <!-- 2 -->
                          <div class="logo-overlay"></div>
                            <img src="images/content/client/2.png" alt="Logo" />
                        </div>
                        
                        <div class="affa-client-logo no-border-right-sm"> <!-- 3 -->
                          <div class="logo-overlay"></div>
                            <img src="images/content/client/3.png" alt="Logo" />
                        </div>
                        
                        <div class="affa-client-logo no-border-bottom-sm no-border-right-xs"> <!-- 4 -->
                          <div class="logo-overlay"></div>
                            <img src="images/content/client/4.png" alt="Logo" />
                        </div>
                        
                        <div class="affa-client-logo no-border-bottom"> <!-- 5 -->
                          <div class="logo-overlay"></div>
                            <img src="images/content/client/5.png" alt="Logo" />
                        </div>
                        
                        <div class="affa-client-logo no-border-bottom no-border-right"> <!-- 6 -->
                          <div class="logo-overlay"></div>
                            <img src="images/content/client/6.png" alt="Logo" />
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #clients end -->
    
    <!-- #footer -->
    <footer id="footer">`
        
        <!-- .container -->
        <div class="container padding-bottom20">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-4 widget"> <!-- 1 -->
                  <img src="images/logo.png" alt="Logo" class="footer-logo" />
                    <p>Lorem ipsum dolor sit amet elit consectetur adipiscing rhoncus tempus perdiet risus amet eleifend laoreet lectus mauris volutpat.</p>
                    <div class="footer-socials">
                        <a href="#" title="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" title="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="google plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" title="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" title="pinterest"><i class="fa fa-pinterest"></i></a>
                        <a href="#" title="dribbble"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
                
                <div class="col-sm-4 widget"> <!-- 2 -->
                  <h4 class="widget-title">Need Helps?</h4>
                    <div class="row">
                      <div class="col-sm-6">
                          <ul>
                              <li><a href="#">About Us</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Our Teams</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                          <ul>
                                <li><a href="#">Dribbble</a></li>
                                <li><a href="#">Behance</a></li>
                                <li><a href="#">All Projects</a></li>
                                <li><a href="#">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-4 widget"> <!-- 3 -->
                    <h4 class="widget-title">Contact Us</h4>
                    <p>123 Main Street Cottage<br>Long Branch City, P.O Box 65148<br>(00) 123-4567890 / (00) 123-4567890<br><a href="#">www.company.com</a><br><a href="#">support@company.com</a></p>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
        <div class="footer-copyright">
          <div class="container">
                <p>&copy; 2016 Copyrights by <a href="http://affapress.com" target="_blank">Affapress</a> - All rights reserved.</p>
            </div>
        </div>
        
    </footer>
    <!-- #footer end -->
    
    <a href="#" class="scrollup" title="Back to Top!">Scroll</a> <!-- Back to Top -->
    
    <!--[if lt IE 8]>
      <div class="browser-notice">
            <div class="container">
              <div class="text">
                    <h1>Internet Explorer Out To Date</h1>
                    <p>Please update your Internet Explorer browser with a newer version (Internet Explorer 8 above) now!</p>
                    <span>You can download it <a href="http://windows.microsoft.com/en-us/  <script type="text/javascript" src="js/response.min.js"></script>
internet-explorer/download-ie" target="blank">here....</a></span>
                </div>
            </div>
        </div>
  <![endif]-->
    
    <!-- JavaScripts -->
    
</body>
</html>