.blue {
  color: blue;
}
.info {
  color: #326D89;
  font-size: 17px;
  font-weight: bolder;
}

.errors {
  color: red;
  font-weight: bolder;
}

#footer {
  padding: 0;
}

#navigation {
  padding: 10px !important;
}

.blue-booking {
  color: blue;
}

.red-booking {
  color: red;
  font-weight: bold !important;

}

.red-post {
  color: black;
  background-color: red;

}

.area_text {
  height: 200px !important;
}

.pic_size {
  height: 400px !important;
}

.map_css {
  margin: 30px 0px 0px 0px;
}




.green-booking {
  color: green !important;
}


.ng-enter, .ng-move{
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.ng-leave{
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s;
}


.center {
    margin: auto;
    width: 50%;
  
}

.center_tabs {
    padding: 20px;
    text-align: center;
    display: inline-block;
    color: #337AB7;
}

.blue-nav {
  border: 1px solid #bdc3c7;
  padding: 9px 20px 10px;



  &.active {
    background-color: #41bedd;
  a {
    background-color: #41bedd;
  }
  }


}

.nav_link {
  background-color: #41bedd;
  border: none;
}

.post-show {
  background-color: #41bedd;
  font-size: 18px;
  font-family:  "Arial Black", Gadget, sans-serif;
  padding: 0px 0px 10px 50px;
  border-radius: 25px; 
}


html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
/*    height: 100px;*/
    width: 100%;
}