<div class="row">
  <div class="col-md-4"></div>
    <div class="4">
      <ul class="nav nav-tabs center_tabs">
        <li role="presentation" class="active"><a href="/">List View</a></li>
        <li role="presentation" class="active"><a href="/index_map">Map View</a></li>
      </ul>
      <div ng-app="app">
        <div ng-controller="mikvehCtrl" ng-init="setup()">
          <div id="map" class="center" style="width: 700px; height: 500px;"></div>
        </div>
      </div>
    </div>
</div>