<table class="table table-hover">
  <tr>
    <td>Name</td>
    <td>location</td>
    <td>rooms</td>
  </tr>

  <tr>
    <th><%= @mikveh.name  %></th>
    <th><%= @mikveh.location  %></th>
    <th><%= @mikveh.rooms %></th>
  </tr>
</table>